.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-link1 {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon10 {
  width: 24px;
  height: 24px;
}
 
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link4 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link5 {
  text-decoration: none;
}
 
.home-hero {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-tenunits);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-tenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  background-size: cover;
  justify-content: center;
  background-image: url('https://github.com/bmacken03/bmacken03.github.io/blob/main/assets/IMG-20250411-WA0008.jpg');
}
 
.home-content-container1 {
  width: 644px;
  height: 624px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  padding-top: var(--dl-layout-space-fiveunits);
  margin-right: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/bmacken03/bmacken03.github.io/refs/heads/main/assets/unnamed.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-content-container2 {
  width: 668px;
  height: 557px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-layout-space-tripleunit);
  padding-top: var(--dl-layout-space-tenunits);
  margin-right: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-tenunits);
  justify-content: center;
}
 
.home-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading {
  text-align: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-text10 {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link6 {
  display: contents;
}
 
.home-icon12 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.home-link7 {
  display: contents;
}
 
.home-icon14 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.home-link8 {
  display: contents;
}
 
.home-icon16 {
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-icon18 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-halfunit);
}
 
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-content-container1 {
    width: 544px;
    height: 518px;
    margin-top: var(--dl-layout-space-unit);
    margin-left: var(--dl-layout-space-tripleunit);
    margin-right: var(--dl-layout-space-tripleunit);
    padding-left: var(--dl-layout-space-fourunits);
    margin-bottom: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-fourunits);
    flex-direction: column-reverse;
    background-image: url('https://raw.githubusercontent.com/bmacken03/bmacken03.github.io/refs/heads/main/assets/unnamed.jpg');
    background-position: center;
  }
  .home-content-container2 {
    height: 427px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-layout-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-layout-space-tripleunit);
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
  .home-hero-text {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-content-container1 {
    padding-top: var(--dl-layout-space-fiveunits);
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-content-container2 {
    padding-top: var(--dl-layout-space-fiveunits);
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-hero-text {
    width: 100%;
  }
}
